/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// header 7vh
// main-content 93vh

// require_tree .
// require_self

@import "./layouts.scss";

* {
  font-family: 'Noto Sans JP';
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-color;
  line-height: 1;
  font-size: 1em;
}

label {
  font-weight: unset;
}

p {
  color: $text-color;
  padding-bottom: unset;
}

body {
  all: unset;
  background: $background-color;
  font-family: "Noto Sans JP", serif;
}

.button {
  width: 12vw;
  height: 6vh;
  @include mobile {
    width: 130px;
    height: 45px;
  }
  font-size: responsible-text-size(1.7vw);
  color: #FFF;
  background-color: #605BFF;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  &:hover {
    opacity: 0.3;
  }
}

.search_condition_main_content {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 93vh;
  width: 100%;
  padding-bottom: 10vh;
}

header {
  position: relative;
  display: flex;
  width: 100vw;
  height: 7vh;
  align-items: center;
  justify-content: start;
  border-bottom: 2px solid $line-gray;
  background: #FFF;

  .logo_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 3vw;
    margin-right: 1vw;
    #logo {
      padding: 0;
      margin: 0;
      font-size: 4vh;
      @include mobile {
        font-size: 5vw;
      }
      font-family: "Nunito", serif;
      color: $text-color;
    }
  }

  #restaurant_icon {
    color: $icon-color;
    font-size: 4.5vh;
  }
}