/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// header 7vh
// main-content 93vh

@import "bootstrap";

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


$text-color: #303030;
$background-color: #F4F4F4;
$line-gray: #CDCDCD;
$icon-color: #A1A1A1;

@function responsible-text-size($size) {
  @return clamp(1em, $size, 2em);
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

* {
  font-family: 'Noto Sans JP';
}

h1, h2, h3, h4, h5, h6 {
  color: $text-color;
  line-height: 1;
  font-size: 1em;
}

label {
  font-weight: unset;
}

p {
  color: $text-color;
  padding-bottom: unset;
}

body {
  all: unset;
  background: $background-color;
  font-family: "Noto Sans JP", serif;
}

.search_condition_main_content {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 93vh;
  width: 100%;
  padding-bottom: 10vh;
}

header {
  position: relative;
  display: flex;
  width: 100vw;
  height: 7vh;
  align-items: center;
  justify-content: start;
  border-bottom: 2px solid $line-gray;
  background: #FFF;

  .logo_wrapper {
    display: flex;
    align-items: center;
    margin-left: 3vw;
    margin-right: 1vw;
    #logo {
      padding: unset;
      margin: unset;
      float: left;
      font-size: clamp(1em, 4vw, 1.6em);
      font-family: "Nunito", serif;
      color: $text-color;
    }
  }

  #restaurant_icon {
    color: $icon-color;
    font-size: 4.5vh;
  }
}

.search_card {
  display: flex;
  flex-direction: column;

  background-color: #FFF;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);

  width: 80vw;
  @include mobile {
    width: 95vw;
  }
  padding: 5vh 5vw 5vh 5vw;

  .header_text {
    font-size: clamp(1.4em, 3vw, 4em);
  }

  .card_text {
    font-size: responsible-text-size(1.8vw);
  }

  .location_status {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
    // dialog iconと高さを合わせるための継承削除
    .card_text {
      padding: unset;
      margin: unset;
    }
  }

  .dialog {
    display: flex;
    align-items: center;
    padding-left: 1vw;

    .dialog_icon {
      width: responsible-text-size(1.7vw);
      height: responsible-text-size(1.7vw);
      border-width: 0.2vw;
    }

    .check_icon {
      color: #21CC21;
    }
  }

  .search_form {
    .range_wrapper {
      display: flex;
      flex-direction: row;
      
      .distance_range {
        width: 80%;
        margin-right: 2.5%;
      }

      .distance_text {
        width: 15%;
        margin-left: 2.5%;
        border: 1.5px solid $line-gray;
        border-radius: 5px;

        font-size: clamp(0.7em, 1.2vw, 1.6em);
        color: #A1A1A1;
      }
    }

    .search_button_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5vh;

      .search_button {
        width: 160px;
        height: 50px;
        font-size: responsible-text-size(1.7vw);
        color: #FFF;
        background-color: #605BFF;
        border: none;
        border-radius: 7px;
        cursor: pointer;
      }
    }
  }
}