@import "bootstrap";

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


$text-color: #303030;
$background-color: #F4F4F4;
$line-gray: #CDCDCD;
$icon-color: #A1A1A1;

@function responsible-text-size($size) {
  @return clamp(1.2em, $size, 1.5em);
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}