@import './layouts.scss';

@function responsible-text-size($size) {
  @return clamp(0.9em, $size, 2em);
}

@function responsible-large-text-size($size) {
  @return clamp(1.2em, $size, 3em);
}

.restaurant_details_main_content{
  position: absolute;
  display: flex;
  flex-direction: column;

  width: 90%;
  margin: 2.5vh 5% 2.5vh 5%;
  
  @include mobile {
    width: 95vw;
    margin: 2.5vh 2.5vw 2.5vh 2.5vw;
  }
}

.restaurant_deatils_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3vh 0 3vh 0;

  p {
    margin: 0;
  }

  .back_button_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration-color: #505050;
    color: #505050;

    .back_arrow_icon {
      width: responsible-large-text-size(4vw);
      height: responsible-large-text-size(4vw);
      border-width: 0.3vw;
      margin-right: 0.5vw;
    }

    .back_button_text {
      font-size: responsible-large-text-size(2.5vw);
      color: #505050;
    }
  }
}

.restaurant_details_content {
  display: flex;
  flex-direction: row;
  margin: 5vh 0 5vh 0;

  .restaurant_thumbnail_wrapper {
    width: clamp(50vh, 50vh, 35vw);
    height: clamp(50vh, 50vh, 35vw);
    margin-right: 7.5vw;

    .restaurant_thumbnail {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .restaurant_info_field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: clamp(50vh, 50vh, 35vw);
    width: 52.5vw;

    .restaurant_name_wrapper {
      font-size: responsible-large-text-size(3vw);
      font-weight: bold;
    }

    .restaurant_open {
      font-size: responsible-text-size(1.5vw);
      font-weight: bold;
    }

    .restaurant_address {
      font-size: responsible-text-size(1.5vw);
      font-weight: bold;
    }
  }
}