@import "./layouts.scss";

@function responsible-text-size($size) {
  @return clamp(0.9em, $size, 3em);
}

@function responsible-large-text-size($size) {
  @return clamp(1.2em, $size, 3em);
}


.search_card {
  display: flex;
  flex-direction: column;

  background-color: #FFF;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);

  width: 80vw;
  @include mobile {
    width: 95vw;
  }
  padding: 5vh 5vw 5vh 5vw;

  .header_text {
    font-size: clamp(1.3em, 3vw, 4em);
  }

  .card_text {
    font-size: responsible-text-size(1.5vw);
  }

  .location_status {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
    // dialog iconと高さを合わせるための継承削除
    .card_text {
      padding: unset;
      margin: unset;
    }
  }

  .dialog {
    display: flex;
    align-items: center;
    padding-left: 1vw;

    .dialog_icon {
      width: clamp(1.2em, 1.7vw, 2em);
      height: clamp(1.2em, 1.7vw, 2em);
      border-width: 0.2vw;
    }

    .check_icon {
      color: #21CC21;
    }
  }

  .range_wrapper {
    display: flex;
    flex-direction: row;
    
    .distance_range {
      width: 80%;
      margin-right: 2.5%;
    }

    .distance_text {
      width: 15%;
      margin-left: 2.5%;
      border: 1.5px solid $line-gray;
      border-radius: 5px;

      font-size: clamp(0.7em, 1.2vw, 1.6em);
      color: #A1A1A1;
    }
  }

  .search_button_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    font-size: responsible-text-size(1.5vw);

    .search_button {
      width: 160px;
      height: 50px;
      color: #FFF;
      background-color: #605BFF;
      border: none;
      border-radius: 7px;
      cursor: pointer;
      &:hover {
        opacity: 0.3;
      }
    }
  }
}