<header>
  <div class="logo_wrapper">
    <p id="logo">Restaurant Searcher</p>
  </div>
  <!-- google material icon -->
  <span class="material-symbols-outlined" id="restaurant_icon">
    restaurant
  </span>
</header>